<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Benutzer bearbeiten</title>
        <style>
            form {
                display: flex;
                flex-direction: column;
                width: 30%;
            }

            .lists {
                display: flex;
            }
        </style>
    </head>

    <body>
        <h2>Benutzerprofil <span th:text="${nummer}"></span> bearbeiten</h2>
        <form th:action="@{#}" method="POST" th:object="${formular}">
            <div>
                <label for="name">Name</label>
            <input name="name" type="text" th:field="*{name}">
            </div>
            <div>
                <label for="mail">E-Mail</label>
            <input name="mail" type="text" th:field="*{mail}">
            </div>
            <div>
                <label for="password">Passwort</label>
                <input name="password" type="text" th:field="*{password}">
            </div> 
            <div>
                <label for="birthday">Geburtstag</label>
                <input name="birthday" type="text" th:field="*{password}">
            </div> 
            <div class="lists">
                <div>
                    <label for="like">Mag</label>
                    <h4>Max: <span th:text="${maxwunsch}"></span></h4>
                    <input name="like" type="text">
                    <span th:each="l: *{likes}" th:text="${l}"></span>
                </div>
                <div>
                    <label for="dislike">Mag nicht</label>
                    <h4>Max: <span th:text="${maxwunsch}"></span></h4>
                    <input name="dislike" type="text">
                    <span th:each="d: *{dislikes}" th:text="${d}"></span>
                </div>
            </div>
            <button>Abschicken</button>
        </form>
    </body>
</html>